.detailsVideo{
    background-color: #000000;
    min-height: 750px;
    box-sizing: border-box;
    /* width: 80%; */
}

.player{
    height:500px;
    width: 73%;
    /* margin-left: 120px; */
    margin-top: 18px;
    text-align: left;
}

.title{
    font-size: 19px;
    color: aliceblue;
}

.channel{
    display: flex;
    align-items: center;
}

.channel img{
    border-radius: 50%;
    width: 60px;
    height: 55px;
}

.channel p{
    margin-left: 30px;
    color:white;
    font-size: 19px;
}

.container{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}


.recommendations{
    width: 26%;
    margin-left: 20px;
}
.individualVid{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 9px;
}

.individualVid p{
    color: white;
}

.indi_first{
    width: 48%;
    margin-right: 8px;
}
.indi_first img{
    width: 100%;
}
.indi_second{
    width: 48%;
    text-align: left;
    overflow: hidden;
}

.indi_second :nth-child(2){
    color: grey;
    font-size: 12px;
}