.detailsVideo{
    background-color: black;
    min-height: 750px;
}

.player{
    width:960px;
    height:555px;
    margin-left: 120px;
    margin-top: 18px;
    text-align: left;
}

.title{
    font-size: 19px;
    color: aliceblue;
}

.channel{
    display: flex;
    align-items: center;
}

.channel img{
    border-radius: 50%;
    width: 60px;
    height: 55px;
}

.channel p{
    margin-left: 30px;
    color:white;
    font-size: 19px;
}